<!--The content below is only a placeholder and can be replaced.-->
<div class="ui fixed menu">
  <div class="active item">Dashboard</div>
  <div class="item">About</div>
  <div class="right item"><app-clock></app-clock></div>
</div>
<div class="ui container">
  <div style="text-align:center">
    <h1>
      <i class="cogs huge icon"></i> Welcome to {{ title }}! 
    </h1>
  </div>
  
  <!-- statistic segment -->
  <div class="ui raised segment">
      <h4 class="ui horizontal divider header">
          <i class="bar chart icon"></i>
          Statistics
      </h4>
        
    <div class="ui grid">
      <div class="stretched row">
        <div class="eight wide column"><div class="ui segment"><app-request-counter></app-request-counter></div></div>
        <div class="eight wide column"><div class="ui large segment"><app-payloadcounter [currentPayload]="data$"></app-payloadcounter></div></div>
      </div>
    </div>
  </div>
  
  <!-- grid segment -->
  <div class="ui segment basic">
      <h4 class="ui horizontal divider header">
          <i class="database icon"></i>
          Data
      </h4>  
    <app-grid [data$]="data$" (loadDataSignal)="loadData($event)" (resetDataSignal)="resetData($event)"></app-grid>
  </div>
  
  <!-- footer segment -->
  <div class="ui segment">
      <div class="ui grid">
          <div class="twelve wide column"><div class="ui segment"><app-pagination></app-pagination></div></div>
          <div class="four wide column"><div class="ui segment"> <app-rowcounter [data$]="data$"></app-rowcounter></div></div>
        </div>
  </div>

</div>
